body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #181821;
  color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  bottom: 0;
}

title {
  text-transform: uppercase;
}

#hero-title {
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-stretch: 125%;
}

#hero-cn {
  font-family: "Noto Serif SC", serif;
  margin-bottom: -10px;
  letter-spacing: 5px;
  font-size: 17px;
}

#hero-en {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}

#hero-remarks {
  font-size: 13.3px;
  color: #e30715;
}

#hero-cta {
  font-size: 13.3px;
  color: #aaa;
}

main {
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
  /* align-items: flex-start; */
}

footer {
  font-size: 12px;
  color: #666;
}
