body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #181821;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  bottom: 0;
}

#hero-cn {
  font-family: "Noto Serif SC", serif;
  margin-bottom: -10px;
  letter-spacing: 5px;
  font-size: 17px;
}

#hero-en {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}

#hero-en-text {
  font-size: 14.7px;
  color: #e30715;
}

main {
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
  /* align-items: flex-start; */
}
